*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background: #1a1a2e;
    color: #fff;
}
.head-tab{
    text-shadow: 0 0 10px #fff;
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background: #0d0d1f;
    align-items: center;
}
.one,.two,.three{
    width: 30%;
    height: 100%;
    text-align: center;
    transition: all 0.5s;
}
.content {
    width: 100%;
    height: 500px;
    overflow-y: auto;
    color: #000;
}
.content::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
}

.content::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.content::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
}
.key-value-container { 
    margin-bottom: 10px; 
    padding: 10px; 
    height: 100px;
}
.title_div{
    width: 50%;
    height: 40%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    text-align: center;
}
.link_div{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0 20px 20px 20px;
    height: 60%;
    display: flex;
    align-items: center;
}
.urlIp{
    width: 80%;
    height: 90%;
    outline: none;
    border: none;
    border-radius: 0 0 0 20px;
    background-color: rgba(255, 255, 255, 0);
}
.editUrl{
    width: 20%;
    height: 100%;
    background-color: #b3face;
    border-radius: 0 20px 20px 0;
    border: none;
}
